* {
   margin: none;
  padding: none;
  box-sizing: border-box;
font-family: 'Manrope', sans-serif;
color: rgb(62, 62, 62);
}

body {
    background-color:rgb(255, 249, 240);
} 

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img.logo {
  max-width: 6rem;
}

nav h2 {
  padding-left: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
  
nav ul {
  float: right;
  margin: right 20px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
  }

nav ul li a {
color: rgb(62, 62, 62);
font-weight: 500;
font-size: 20px;
text-decoration: none;
text-transform: uppercase;
padding: 0.5rem 1rem;
border-radius: 4px;
}

a.active, a:hover {
  background-color: rgb(62, 62, 62);
  color: whitesmoke;
  transition: 0.5s;

}

.checkbtn {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Media Query Below */

@media (max-width: 856px) {

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding-top: 3rem;
  }

  .checkbtn {
    display: block;
  }

  nav img {
    max-width: 2rem;
  }

  nav h2 {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  ul { 
    z-index: 1;
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color:rgb(255, 249, 240);
    top: 8rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 20px;

  }
  
  nav ul li a {
    font-size: 20px;
  }

  a.active, a:hover {
    background-color: rgb(62, 62, 62);
    color: whitesmoke;
    transition: 0.5s;
  
  }

  #check:checked ~ ul {
    left: 0;
  }


}

.blog_header 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem 2rem 0.5rem 2rem;
    margin-left: 4rem;


  }

  h1 {
    font-size: 3rem;
}

.metadata {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.metadata {
    font-size: 1rem
}

.metadata h3 {
    font-weight: 400;
}

.metadata img {
    width: 2rem;
}

.content {
    max-width: 85%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0rem 2rem 2rem 2rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.link a {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

