* {
    margin: none;
    padding: none;
    box-sizing: border-box;
font-family: 'Manrope', sans-serif;
}

body {
    background-color:rgb(255, 249, 240);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap:2rem;
    list-style: none;
}

nav button {
    margin-left: 2.5rem;
}

section.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem 3rem;
    margin: 0;
}

section.hero h1 {
    font-weight: 600;
    font-size: 40pt;
}

section.work {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 3rem ;
}

